my_script.py export-subst
Makefile export-ignore
README.md export-ignore
.gitattributes export-ignore
.gitignore export-ignore
hooks export-ignore
tests export-ignore
*.pyc export-ignore
src export-ignore
tsconfig.json export-ignore
package.json export-ignore
.npmignore export-ignore
yarn-error.log export-ignore
yarn.lock  export-ignore
lib export-ignore
compiled export-ignore