.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
lib
src
npm-debug.log
tsconfig.json
wwwroot
wwwroot/*
wwwroot/**
wwwroot/*/*
#!lib/olive.mvc
#!lib/olive.mvc/
#!lib/olive.mvc/*
#!lib/olive.mvc/**
#!lib/olive.mvc/*/
#!lib/olive.mvc/*/*